span.select2-container{
    width: 100% !important;
}

#subMenu_Reff {
    height: 300px !important;
    overflow-y: auto !important;
}

.has-error .form-control-feedback {
    color: #a94442 !important;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #a94442 !important;
    display: block;
}

/* .has-error .help-block {
    display: block !important;
} */

.has-error .form-control {
    border-color: #a94442 !important;
}

.has-error .select2-container--default .select2-selection--single {
    border-color: #a94442 !important;
}

.align-select2 {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#loading {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #00000078;
    z-index: 999;
    display: none;
}

#loading2 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #227a9cde;
    z-index: 999;
    display: none;
}

.lds-facebook {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px auto;
}
.zn-load-text {
    display: inline-block;
    position: sticky;
    top: 29%;
    left: 39%;
    margin: 0px auto;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 400px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }

    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}
